:root{
  --header-darkhover: #161D29;
  --menu-active-darkblue: #1D2739;
  --text-color-lightgrey: #B2B2B2;
  --text-whte-opacity: rgba(255, 255, 255, 0.5);
  --shadow-color-lightgrey: rgba(0, 0, 0, 0.15);
  --text-color-grey: #A9A9A9;
  --basic-grey-extralight: #F3F7F9;
  --basic-darkblue: #293449;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-black: #000000;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-bluelight: #75D0EB;
  --special-lilac: #DC91D8;
  --special-lilaclight: #E6B2E4;
  --special-green: #8ED78F;
  --special-greenlight: #B0E3B0;

  --paginator-hover-border: #E5E5E5;
  --special-hover-bg: rgba(197,197,197,0.3);
  --special-active-bg: rgba(169,169,169,0.3);
  --buy-button-active: #518534;

  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --special-grey: #EAEAEA;
  --text-darkblue: #32425C;
  --background-greylight: #F7F3EC;
  --background-purplelight: #F9F5F0;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  color: var(--white, #ffffff);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

a{
  text-decoration: none;
}

.footer-bottom a:hover{
  text-decoration: underline;
}

.footer-bottom a:active{
  text-decoration: none;
  color: var(--basic-red, #EE3643);
}

.header ul, 
.footer ul, 
.main ul{
  list-style: none;
}

.socials li:hover,
.socials li:active{
  background-color: var(--basic-red, #EE3643);
}

.footer-upper a:hover,
.footer-lower a:hover{
  text-decoration: underline;
}

.footer-upper a:active,
.footer-lower a:active{
  opacity: 0.5;
  text-decoration: none;
}

.header{
  background-color: var(--basic-grey-extralight, #F3F7F9);
}

.content-info{
  background-color: var(--basic-background, #F1F5F7);
}

.content-info h2{
  color: black;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.content-info p{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: black;
  margin: 0px;
}

.paginator a{
  color: black;
  border: 1px solid var(--paginator-hover-border, #E5E5E5);
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
}

.paginator a:hover{
  border: 1px solid var(--basic-greylight, #c5c5c5);
}

.paginator a:active{
  border: 1px solid var(--basic-red, #EE3643);
}

.paginator a.active{
  background-color: var(--basic-red, #EE3643);
  color: var(--white, #ffffff);
}

.content{
  width: 700px;
}

.paginator{
  margin-left: 240px;
}

.sort .sort-type{
  border-bottom: 1px var(--basic-red, #EE3643) dotted;
}

.sort .sort-type:hover{
  border-bottom: 1px var(--basic-red, #EE3643) solid;
  color: black;
}

.sort .active{
  color:var(--basic-red, #EE3643);
  border-bottom: none;
}

.sort .sort-dir:hover{
  border-bottom: none;
  color: black;
}

.sort a{
  color: var(--text-color-lightgrey, #B2B2B2);
  background-color: var(--background-greylight, #F7F3EC);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
}

.filter form{
  display: flex;
  flex-direction: column;
  width: 220px;
}

.filter button{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-price legend,
.filter-power legend, 
.filter-vendors legend{  
  color: black;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-price, 
.filter-vendors, 
.filter-power{
  border:0 none;
  color: black;
  font-size: 15px;
  line-height: 19px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.filter-price input{
  border: 0;
  background-color: var(--background-greylight, #F7F3EC);
  font-size: 17px;
  line-height: 18px;
}

.sort{
  background-color: var(--background-greylight, #F7F3EC);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter h2, 
.sort h2{
  color: black;
  background-color: var(--background-greylight, #F7F3EC);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
}

.main h1{
  background-color: var(--basic-grey-extralight, #F3F7F9);
  color: var(--text-darkblue, #32425C);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.breadcrumbs a, 
.breadcrumbs li{
  font-size: 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
}

.breadcrumbs{
  display: flex;
}

.breadcrumbs li{
padding-right: 10px;
}

.popup-map{
  margin: 0 auto;
  width: 943px;
}

.writeus input, 
.writeus textarea{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-color-grey, #A9A9A9);
  border: 2px solid var(--basic-greylight, #c5c5c5);
  border-radius: 2px;
}

.writeus{
  color: black;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  width: 640px;
}

.footer .logo{
  background-color: var(--basic-red, #EE3643);
}

.footer .logo:active{
  background-color: var(--basic-error, #BA2732);
}

.footer{
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey-extralight, #F3F7F9);
}

.footer-lower a, 
.footer-bottom a{
  color: var(--special-yellowlight, #FFD180);
}

.footer-upper a{
  color: var(--basic-background, #F1F5F7);
}

.footer-bottom{
  background-color: var(--basic-darkblue, #293449);
}

.footer-bottom .container{
   display: flex;
   justify-content: space-between;
}

.socials{
  display: flex;
  justify-content: space-between;
}

.feedback,
.developed{
  display: flex;
  flex-direction: column;
}

.columns-catalog{
  display: flex;
  justify-content: space-between;
}

.columns{
  display: flex;
}

.about{
  flex-basis: 640px;
  box-sizing: border-box;
}

.contacts{
  flex-basis: 300px;
  box-sizing: border-box;
}

.about li{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.contacts, 
.about{
  color: black;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.contacts h2, 
.about h2{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
}

.services h2{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: black;
}

.services h3{
  color: var(--text-darkblue, #32425C);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.services p{
  color: black;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.vendors li{
  border: 1px solid var(--special-grey, #EAEAEA);
}

.vendors li:hover{
  box-shadow: 0px 4px 20px var(--shadow-color-lightgrey ,rgba(0, 0, 0, 0.15));
}

.vendors li:active{
  opacity: 0.5;
  box-shadow: 0px 4px 20px var(--shadow-color-lightgrey ,rgba(0, 0, 0, 0.15));
}

.control{
  background-color: var(--text-darkblue, #32425C);
  color: var(--white, #ffffff);
  border: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  outline: none;
  width: 240px;
}

.control:hover{
  background-color: var(--basic-darkblue, #293449);
}

.control.active{
  background-color: var(--white, #ffffff);
  color: var(--text-darkblue, #32425C);
  border: 0;
}

.link{
  background-color: var(--basic-red, #EE3643);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--white, #ffffff);
}

.link-special{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--white, #ffffff);
}

.link-wide{
  background-color: var(--basic-red, #EE3643);
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--white, #ffffff);
  border: 0 none;
}

.link:active,
.link-special:active,
.link-wide:active{
  background-color: var(--basic-error, #BA2732);
}

.footer{
  background-color: var(--text-darkblue, #32425C);
}

.footer-upper,
.footer-lower{
  display: flex;
}

.footer-upper-menu,
.footer-lower-menu{
  display: flex;
  margin-left: auto;
  padding: 0;
  flex-basis: 560px;
  justify-content: space-between;
}

.services{
  background-color: var(--basic-background, #F1F5F7);
}

.container{
  margin: 0 auto;
  width: 940px;
}

.item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.item-list li{
  width: 220px;
}

.item .buy{
  background-color: var(--basic-green, #63A63E);
  text-transform: uppercase;
  color: var(--white, #ffffff);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border: 3px solid var(--basic-green, #63A63E);
  box-sizing: border-box;
  border-radius: 2px;
}

.item .buy:hover{
  background-color: var(--success, #5FBB2D);
  border-color: var(--success, #5FBB2D);
}

.item .buy:active{
  background-color: var(--buy-button-active, #518534);
  border-color: var(--buy-button-active, #518534);
}

.item .add-favorite{
  background-color: var(--white, #ffffff);
  text-transform: uppercase;
  color: var(--text-darkblue, #32425C);
  border: 3px solid var(--basic-green, #63A63E);
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  box-sizing: border-box;
}

.item .add-favorite:hover{
  border-color: var(--text-darkblue, #32425C);
}

.item .add-favorite:active{
  border-color: var(--text-darkblue, #32425C);
  opacity: 0.5;
}

.item{
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: black;
  border: 1px solid var(--special-grey, #EAEAEA);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  height: 100%;
}

.item span{
  text-decoration: line-through;
  color: var(--text-color-grey, #A9A9A9);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.item .price{
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: var(--white, #ffffff);
  background-color: var(--basic-red, #EE3643);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.item .price:active{
  background-color: var(--basic-error, #BA2732);
}

.popular-header,
.vendors-header{
  background-color: var(--background-purplelight, #F9F5F0);
  display: flex;
  align-items: center;
}

.popular-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.popular-list li{
  box-sizing: border-box;
  flex-basis: 220px; 
}

.popular-header h2,
.vendors-header h2{
  margin-right: auto;
}

.popular h2, 
.vendors h2{
  font-size: 30px;
  line-height: 30px;
  color: var(--text-darkblue, #32425C);
  text-transform: uppercase;
  font-weight: 400;
}

.vendor-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vendor-list li{
  box-sizing: border-box;
  flex-basis: 220px;
}

.slider li{
  background-color: var(--basic-grey, #3D546F);
}

.slider img{
  z-index: -1;
}

.slider h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.slider p{
  font-size: 18px;
  line-height: 24px;
}

.slider a{
  background-color: var(--basic-red, #EE3643);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--white, #ffffff);
}

.header-top{
  background-color: var(--basic-darkblue, #293449);
  font-size: 18px;
  line-height: 24px;
}

.menu{
  background-color: var(--text-darkblue, #32425C);
  font-size: 18px;
  line-height: 24px;
}

.menu li:hover{
  background-color: var(--basic-darkblue, #293449);
}

.menu li:active{
  background-color: var(--menu-active-darkblue, #1D2739);
}

.header{
display: block;
}

.header-top .container,
.header-bottom,
.menu ul{
  display: flex;
  align-items: stretch;
}

.menu li{
  flex-grow: 1;
}

.favorite{
  margin-left: auto; 
}

.header-top a, 
.menu a{
  color: var(--white, #ffffff);
}

.header-top a:active{
  color: var(--text-whte-opacity ,rgba(255, 255, 255, 0.5));
}

.header-top .logo:active{
  background-color: var(--basic-error, #BA2732);
}

.header-top .logo{
  background-color: var(--basic-red, #EE3643);
}

.header-top .do-order{
  background-color: var(--basic-green, #63A63E);
}

.header-top .do-order:hover{
  background-color: var(--success, #5FBB2D);
}

.header-top .cart.empty:active,
.header-top .favorite:active{
  background-color: var(--header-darkhover, #161D29);
}

.header-top .cart.filled:active{
  background-color: var(--basic-error, #BA2732);
}


.header-bottom{
  color: var(--basic-red, #EE3643);
}

.header-bottom p{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-bottom a{
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red, #EE3643);
}

.auth a{
  color: var(--basic-black, black);
  background-color: var(--white, #ffffff);
  font-size: 21px;
  line-height: 21px;
}

.auth a:hover{
  color: var(--basic-red, #EE3643);
}

.auth a:active{
  color: var(--basic-greylight, #c5c5c5);
}

.user a{
  color: var(--text-darkblue, #32425C);
  font-size: 16px;
  line-height: 18px;
}

.user .logout{
  color: var(--basic-greylight, #c5c5c5);
}

.user .username{
  color: black;
  background-color: var(--white, #ffffff);
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}

.user a:hover{
  color: var(--basic-red, #EE3643);
}

.user .logout:hover{
  color: var(--basic-grey, #3D546F);
}

.user .username:hover{
  color: black;
}

.user .logout:active{
  color: var(--basic-greylight, #c5c5c5);
}

.user a:active{
  color: var(--basic-greylight, #c5c5c5);
}

.user .username:active{
  color: var(--basic-greylight, #c5c5c5);
}

.header-bottom address{
  color: var(--text-darkblue, #32425C);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.services-list li{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
  
.services-list{
  display: flex;
  flex-wrap: wrap;
}

.services-control{
  flex-basis: 240px;
}

.services-header{
  width: 100%;
}

.link-special{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white, #ffffff);
  background-color: rgba(255,255,255,0.3);
}

.material,
.deliver{
  background-color: var(--special-yellow, #FFBF47);
}

.instrument{
  background-color: var(--special-blue, #3BBCE3);
}

.vehicle{
  background-color: var(--special-lilac, #DC91D8);
}

.sale{
  background-color: var(--special-green, #8ED78F);
}

.link-special:hover{
  background-color: var(--special-hover-bg, rgba(197,197,197,0.3));
}

.link-special:active{
  background-color: var(--special-active-bg, rgba(169,169,169,0.3));
}

.cart.filled{
  background-color: var(--basic-red, #EE3643);
}

.cart.empty{
  background-color: none;
}