:root{
  --header-darkhover: #161D29;
  --menu-active-darkblue: #1D2739;
  --text-color-lightgrey: #B2B2B2;
  --text-whte-opacity: rgba(255, 255, 255, 0.5);
  --shadow-color-lightgrey: rgba(0, 0, 0, 0.15);
  --text-color-grey: #A9A9A9;
  --basic-grey-extralight: #F3F7F9;
  --basic-darkblue: #293449;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-black: #000000;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-bluelight: #75D0EB;
  --special-lilac: #DC91D8;
  --special-lilaclight: #E6B2E4;
  --special-green: #8ED78F;
  --special-greenlight: #B0E3B0;

  --paginator-hover-border: #E5E5E5;
  --special-hover-bg: rgba(197,197,197,0.3);
  --special-active-bg: rgba(169,169,169,0.3);
  --buy-button-active: #518534;

  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --special-grey: #EAEAEA;
  --text-darkblue: #32425C;
  --background-greylight: #F7F3EC;
  --background-purplelight: #F9F5F0;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  color: var(--white, #ffffff);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

a{
  text-decoration: none;
}

.footer-bottom a:hover{
  text-decoration: underline;
}

.footer-bottom a:active{
  text-decoration: none;
  color: var(--basic-red, #EE3643);
}

.header ul, 
.footer ul, 
.main ul{
  list-style: none;
  margin: 0px;
  padding:0px;
}

.socials li:hover,
.socials li:active{
  background-color: var(--basic-red, #EE3643);
}

.footer-upper a:hover,
.footer-lower a:hover{
  text-decoration: underline;
}

.footer-upper a:active,
.footer-lower a:active{
  opacity: 0.5;
  text-decoration: none;
}

.header{
  background-color: var(--basic-grey-extralight, #F3F7F9);
}

.content-info{
  background-color: var(--basic-background, #F1F5F7);
}

.content-info h2{
  color: var(--basic-black, black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.content-info p{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black, black);
  margin: 0px;
}

.paginator a{
  color: var(--basic-black, black);
  border: 1px solid var(--paginator-hover-border, #E5E5E5);
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
}

.paginator a:hover{
  border: 1px solid var(--basic-greylight, #c5c5c5);
}

.paginator a:active{
  border: 1px solid var(--basic-red, #EE3643);
}

.paginator a.active{
  background-color: var(--basic-red, #EE3643);
  color: var(--white, #ffffff);
}

.content{
  width: 700px;
}

.paginator{
  margin-left: 240px;
}

.sort .sort-type{
  border-bottom: 1px var(--basic-red, #EE3643) dotted;
}

.sort .sort-type:hover{
  border-bottom: 1px var(--basic-red, #EE3643) solid;
  color: var(--basic-black, black);
}

.sort .active{
  color:var(--basic-red, #EE3643);
  border-bottom: none;
}

.sort .sort-dir:hover{
  border-bottom: none;
  color: var(--basic-black, black);
}

.sort a{
  color: var(--text-color-lightgrey, #B2B2B2);
  background-color: var(--background-greylight, #F7F3EC);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
}

.filter form{
  display: flex;
  flex-direction: column;
  width: 220px;
}

.filter button{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-price legend,
.filter-power legend, 
.filter-vendors legend{  
  color: var(--basic-black, black);
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-price, 
.filter-vendors, 
.filter-power{
  border:0 none;
  color: var(--basic-black, black);
  font-size: 15px;
  line-height: 19px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.filter-price input{
  border: 0;
  background-color: var(--background-greylight, #F7F3EC);
  font-size: 17px;
  line-height: 18px;
}

.sort{
  background-color: var(--background-greylight, #F7F3EC);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter h2, 
.sort h2{
  color: var(--basic-black, black);
  background-color: var(--background-greylight, #F7F3EC);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
}

.main h1{
  background-color: var(--basic-grey-extralight, #F3F7F9);
  color: var(--text-darkblue, #32425C);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.breadcrumbs a, 
.breadcrumbs li{
  font-size: 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 18px;
  color: var(--basic-black, black);
  text-transform: uppercase;
}

.breadcrumbs{
  display: flex;
}

.breadcrumbs li{
padding-right: 10px;
}

.popup-map{
  margin: 0 auto;
  width: 943px;
}

.writeus input, 
.writeus textarea{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-color-grey, #A9A9A9);
  border: 2px solid var(--basic-greylight, #c5c5c5);
  border-radius: 2px;
}

.writeus{
  color: var(--basic-black, black);
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  width: 640px;
}

.footer .logo{
  background-color: var(--basic-red, #EE3643);
}

.footer .logo:active{
  background-color: var(--basic-error, #BA2732);
}

.footer{
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey-extralight, #F3F7F9);
}

.footer-lower a, 
.footer-bottom a{
  color: var(--special-yellowlight, #FFD180);
}

.footer-upper a{
  color: var(--basic-background, #F1F5F7);
}

.footer-bottom{
  background-color: var(--basic-darkblue, #293449);
}

.footer-bottom .container{
   display: flex;
   justify-content: space-between;
}

.socials{
  display: flex;
  justify-content: space-between;
}

.feedback,
.developed{
  display: flex;
  flex-direction: column;
}

.columns-catalog{
  display: flex;
  justify-content: space-between;
}

.columns{
  display: flex;
}

.about{
  flex-basis: 640px;
  box-sizing: border-box;
  padding-top: 69px;
  margin-bottom: 70px;
}

.contacts{
  flex-basis: 300px;
  box-sizing: border-box;
  padding-top: 69px;
}

.contacts .link-wide{
  margin-top: 18px;
}

.map img{
  margin-top: 32px;
}

.about li{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}

.about .link{
  margin-top: 20px;
  min-height: 38px;
  width: 220px;
  text-align: center;
  padding-top: 11px;
  box-sizing: border-box;
  display: block;
}

.about p,
.contacts p{
  margin: 0px;
}

.about ul{
  margin: 0px;
  padding: 0px;
  padding-left: 37px;
}

.contacts, 
.about{
  color: var(--basic-black, black);
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.contacts h2, 
.about h2{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

.services h2{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black, black);
  margin:0px;
}

.services-items h3{
  color: var(--text-darkblue, #32425C);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.services p{
  color: var(--basic-black, black);
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.vendors li{
  border: 1px solid var(--special-grey, #EAEAEA);
}

.vendors li:hover{
  box-shadow: 0px 4px 20px var(--shadow-color-lightgrey ,rgba(0, 0, 0, 0.15));
}

.vendors li:active{
  opacity: 0.5;
  box-shadow: 0px 4px 20px var(--shadow-color-lightgrey ,rgba(0, 0, 0, 0.15));
}

.control{
  background-color: var(--text-darkblue, #32425C);
  color: var(--white, #ffffff);
  border: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  outline: none;
  width: 240px;
}

.control:hover{
  background-color: var(--basic-darkblue, #293449);
}

.control.active{
  background-color: var(--white, #ffffff);
  color: var(--text-darkblue, #32425C);
  border: 0;
}

.link{
  background-color: var(--basic-red, #EE3643);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--white, #ffffff);
}

.link-special{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--white, #ffffff);
}

.link-wide{
  background-color: var(--basic-red, #EE3643);
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--white, #ffffff);
  border: 0 none;
  display: block;
  box-sizing: border-box;
  min-height: 38px;
  padding-top: 11px;
  text-align: center;
}

.link:active,
.link-special:active,
.link-wide:active{
  background-color: var(--basic-error, #BA2732);
}

.footer{
  background-color: var(--text-darkblue, #32425C);
}

.footer-upper,
.footer-lower{
  display: flex;
  position: relative;
}

.footer .footer-upper-menu,
.footer .footer-lower-menu{
  display: flex;
  margin-left: auto;
  padding: 0;
  flex-basis: 560px;
  justify-content: space-between;
}

.footer-upper-menu a,
.footer-lower-menu a{
  display: block;
  box-sizing: border-box;
  padding-left: 27px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 20px;
}

.footer-upper-menu li{
  margin-top: 13px; 
}

.services{
  background-color: var(--basic-background, #F1F5F7);
  min-height: 522px;
}

.container{
  margin: 0 auto;
  width: 940px;
  position: relative;
}

.footer-lower p{
  margin: 0px;
  padding: 0px;
  padding-top: 19px;
}

.item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.item-list li{
  width: 220px;
}

.item .buy{
  background-color: var(--basic-green, #63A63E);
  text-transform: uppercase;
  color: var(--white, #ffffff);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border: 3px solid var(--basic-green, #63A63E);
  box-sizing: border-box;
  border-radius: 2px;
}

.item .buy:hover{
  background-color: var(--success, #5FBB2D);
  border-color: var(--success, #5FBB2D);
}

.item .buy:active{
  background-color: var(--buy-button-active, #518534);
  border-color: var(--buy-button-active, #518534);
}

.item .add-favorite{
  background-color: var(--white, #ffffff);
  text-transform: uppercase;
  color: var(--text-darkblue, #32425C);
  border: 3px solid var(--basic-green, #63A63E);
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  box-sizing: border-box;
}

.item .add-favorite:hover{
  border-color: var(--text-darkblue, #32425C);
}

.item .add-favorite:active{
  border-color: var(--text-darkblue, #32425C);
  opacity: 0.5;
}

.item{
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: var(--basic-black, black);
  border: 1px solid var(--special-grey, #EAEAEA);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  height: 100%;
}

.item span{
  text-decoration: line-through;
  color: var(--text-color-grey, #A9A9A9);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.item .price{
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: var(--white, #ffffff);
  background-color: var(--basic-red, #EE3643);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.item .price:active{
  background-color: var(--basic-error, #BA2732);
}

.popular-header,
.vendors-header{
  background-color: var(--background-purplelight, #F9F5F0);
  display: flex;
  align-items: center;
  padding-left: 28px;
  margin-bottom: 20px;
}

.popular-list{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100% + 20px);
  margin: 0 -10px;
}

.popular-list li{
  box-sizing: border-box;
  flex-basis: calc(25% - 20px);
  margin: 0 10px 10px; 
}

.popular-header h2,
.vendors-header h2{
  margin-right: auto;
}

.popular h2, 
.vendors h2{
  font-size: 30px;
  line-height: 30px;
  color: var(--text-darkblue, #32425C);
  text-transform: uppercase;
  font-weight: 400;
}

.popular-header .link,
.vendors-header .link{
  margin-right: 14px; 
  min-height: 38px;
  width: 192px;
  text-align: center;
  padding-top: 11px;
  box-sizing: border-box;
}

.popular{
  margin-top: 59px;
}

.vendor-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vendor-list li{
  box-sizing: border-box;
  flex-basis: 220px;
  text-align: center;
  min-height: 145px;
  margin-bottom: 20px;
}

.vendor-list a{
  display: flex;
  min-height: 145px;
  justify-content: center;
  align-items: center;
} 

.vendor-list img{
  display: block;
}


.slider li{
  background-color: var(--basic-grey, #3D546F);
  width: 620px;
  min-height: 266px;
}

.slider .slider-hammer-drill{
  background-image: url("../img/slider-hammer-drill.jpg");
}

.slider .slider-drill{
  background-image: url("../img/slider-drill.jpg");
}

.slider h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  padding-left: 24px;
  padding-top: 23px; 
  margin: 0;
}

.slider p{
  font-size: 18px;
  line-height: 24px;
  padding-left: 24px;
  padding-top: 5px; 
}

.slider .link{
  background-color: var(--basic-red, #EE3643);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--white, #ffffff);
  display: block;
  box-sizing: border-box;
  bottom: 27px;
  left: 24px;
  position: absolute;
  width: 192px;
  min-height: 38px;
  text-align: center;
  padding-top: 11px;
}

.slider{
  padding: 0;
  margin: 0;
  position: relative;
}

.header-top-wraper{
  background-color: var(--basic-darkblue, #293449);
  font-size: 18px;
  line-height: 24px;
}

.header{
  padding-bottom: 60px;
}

.menu{
  background-color: var(--text-darkblue, #32425C);
  font-size: 18px;
  line-height: 24px;
  box-shadow: inset 0px -5px 0px var(--basic-darkblue, #293449);
  text-align: center;
}

.menu li:hover,{
  background-color: var(--basic-darkblue, #293449);
}

.menu li:active,{
  background-color: var(--menu-active-darkblue, #1D2739);
}

.header{
display: block;
}

.header-top,
.header-bottom,
.menu ul{
  display: flex;
  min-height: 60px;
  justify-content: stretch;
  align-items: stretch;
  }

.menu li{
  flex-grow: 1;
  
}

.menu a{
  display: block;
  width: 100%;
  min-height: 60px;
  padding-top: 16px;
  box-sizing: border-box;
}

.search-form{
  position: relative;
  margin-left: 220px; 
  width: 271px;
}


.header-top li{
  flex-basis: 150px;
}

.search-input{
  position: absolute;
  color: var(--white, #ffffff);
  background-color: transparent;
  border: 0; 
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 42px;
  padding-top: 8px;
  padding-bottom: 10px;
  top: 0;
  left: 0;
}

.search-input::placeholder{
  color: var(--white, #ffffff);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.search-input::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background-image: url('../img/icon-search.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.search-input:hover{
  opacity: 0.5;
}

.search-input:focus{
  background-color: var(--white, #ffffff);
  color: var(--basic-black, black);
  outline: none;
  opacity: 1;
}

.favorite{
  position: relative;
  margin-left: auto; 
  padding-top: 9px;
  padding-bottom: 9px;
  width: 150px;
  padding-left: 43px;
  display: block;
  box-sizing: border-box;
}

.favorite::before{
  content: '';
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url('../img/icon-bookmark.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.favorite:hover::before,
.cart:hover::before{
  opacity: 1;
}

.favorite:active::before,
.cart:active::before{
  opacity: 0.3;
}

.header-top{
  min-height: 42px;
}

.header-top a, 
.menu a{
  color: var(--white, #ffffff);
}

.header-top a:active{
  color: var(--text-whte-opacity ,rgba(255, 255, 255, 0.5));
}

.logo:active{
  background-color: var(--basic-error, #BA2732);
}

.logo{
  background-color: var(--basic-red, #EE3643);
  width: 220px;
  min-height: 47px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  text-align: center;
  position: absolute;
}

.footer .logo{
  min-height: 68px;
}

.image-footer-logo{
  padding-top: 20px;  
}

.image-logo{
  padding-top: 12px;  
}

.header-top .do-order{
  background-color: var(--basic-green, #63A63E);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 19px;
  width: 150px;
  display: block;
  box-sizing: border-box;
}

.header-top .do-order:hover{
  background-color: var(--success, #5FBB2D);
}

.header-top .do-order:active{
  background-color: var(--basic-green, #63A63E);
}

.header-top .cart.empty:active,
.header-top .favorite:active{
  background-color: var(--header-darkhover, #161D29);
}

.header-top .cart.filled:active{
  background-color: var(--basic-error, #BA2732);
}


.header-bottom{
  color: var(--basic-red, #EE3643);
  min-height: 158px;
}

.header-bottom p{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  width: 197px;
  padding-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 3px;
}

.header-bottom a{
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red, #EE3643);
}


.header-bottom .header-contacts{
  padding-left: 93px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-contacts a{
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 270px;
  padding-left: 74px;
  padding-top: 5px;
  padding-bottom: 6px;
}

.header-contacts address{
  margin-top: 3px;
  text-align: center;
}

.header-contacts a::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 39px;
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.auth{
  margin-left: 69px;
  display: flex;
  align-items: flex-start;  
  justify-content: flex-end;
}

.auth a{
  color: var(--basic-black, black);
  background-color: var(--white, #ffffff);
  font-size: 21px;
  line-height: 21px;
  margin-top: 45px;
}

.auth .login{
  position: relative;
  width: 121px;
  box-sizing: border-box;
  min-height: 45px;
  display: block;
  padding-left: 45px;
  padding-top: 12px;
  margin-right: 10px;
}

.auth .login::before{
  content: '';
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url('../img/icon-login.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.auth .register{
  position: relative;
  width: 150px;
  box-sizing: border-box;
  min-height: 45px;
  display: block;
  padding-left: 24px;
  padding-top: 12px;
}

.auth a:hover{
  color: var(--basic-red, #EE3643);
}

.auth a:active{
  color: var(--basic-greylight, #c5c5c5);
}

.user a{
  color: var(--text-darkblue, #32425C);
  font-size: 16px;
  line-height: 18px;
}

.user .logout{
  color: var(--basic-greylight, #c5c5c5);
}

.user .username{
  color: var(--basic-black, black);
  background-color: var(--white, #ffffff);
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}

.user a:hover{
  color: var(--basic-red, #EE3643);
}

.user .logout:hover{
  color: var(--basic-grey, #3D546F);
}

.user .username:hover{
  color: var(--basic-black, black);
}

.user .logout:active{
  color: var(--basic-greylight, #c5c5c5);
}

.user a:active{
  color: var(--basic-greylight, #c5c5c5);
}

.user .username:active{
  color: var(--basic-greylight, #c5c5c5);
}

.header-bottom address{
  color: var(--text-darkblue, #32425C);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.services-list li{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
  
.services-list{
  display: flex;
  flex-wrap: wrap;
}

.services-list .services-control{
  flex-basis: 240px;
  position: relative;
  padding-top: 49px;
  padding-bottom: 45px;
}

.services-control::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/shadow.png");
  background-position: right;
  background-repeat: no-repeat; 
}

.services-control .control{
  min-height: 61px;
  margin-bottom: 1px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px var(--basic-darkblue, #293449), inset 0px 1px 0px #405069;
  text-align: left;
  padding-left: 22px;
}

.services-control .control.active{
  box-shadow: 0px 1px 0px #FFFFFF;
}

.services-items{
  margin-left: 80px;
  padding-top: 46px;
  position: relative;
}

.services-header{
  width: 394px;
  padding-top: 68px; 
  padding-bottom: 21px;
}

.link-special{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white, #ffffff);
  background-color: rgba(255,255,255,0.3);
}

.material,
.deliver{
  background-color: var(--special-yellow, #FFBF47);
}

.instrument{
  background-color: var(--special-blue, #3BBCE3);
}

.vehicle{
  background-color: var(--special-lilac, #DC91D8);
}

.sale{
  background-color: var(--special-green, #8ED78F);
}

.link-special:hover{
  background-color: var(--special-hover-bg, rgba(197,197,197,0.3));
}

.link-special:active{
  background-color: var(--special-active-bg, rgba(169,169,169,0.3));
}

.cart{
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 26px;
  padding-left: 49px;
  width: 150px;
  display: block;
  box-sizing: border-box;
}

.cart::before{
  content: '';
  position: absolute;
  top: 13px;
  left: 26px;
  width: 15px;
  height: 15px;
  background-image: url('../img/icon-cart.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.cart.filled{
  background-color: var(--basic-red, #EE3643);
}

.cart.empty{
  background-color: transparent;
}

.special{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.special,
.special-list-top,
.special-list-bottom,
.slider{
  padding:0;
  margin: 0;
}

.special{
  padding-top: 59px;
}

.special .special-list-top{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 20px;
}

.special-list-bottom{
  display: flex;
  justify-content: flex-start;
  flex-direction: column; 
  }
  

.special-list-bottom li:nth-child(1){
  margin-bottom: 20px;
}

.slider{
  width: 620px;
}

.special-list-top li,
.special-list-bottom li{
  width: 300px;
  min-height: 123px;
  padding-left: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
}

.special p{
  margin: 0;
  padding-bottom: 14px;
}

.special .link-special{
  width: 135px;
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
}

.special .material::after{
  content: '';
  position: absolute;
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
  z-index: 99;
  background-image: url('../img/special-materials.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.special .instrument::after{
  content: '';
  position: absolute;
  top: 34px;
  left: 194px;
  width: 75px;
  height: 61px;
  z-index: 99;
  background-image: url('../img/special-instrument.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.special .vehicle::after{
  content: '';
  position: absolute;
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  z-index: 99;
  background-image: url('../img/special-machine.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.special .sale::after{
  content: '';
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  z-index: 99;
  background-image: url('../img/special-sale.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.special .deliver::after{
  content: '';
  position: absolute;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  z-index: 99;
  background-image: url('../img/special-delivery.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.services-items .delivery::before{
  content: '';
  position: absolute;
  top: 68px;
  left: 151px;
  width: 468px;
  height: 261px;
  background-image: url('../img/service-delivery.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.services-items .garanty::before{
  content: '';
  position: absolute;
  top: 46px;
  left: 239px;
  width: 389px;
  height: 283px;
  background-image: url('../img/service-guarantee.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.services-items .credit::before{
  content: '';
  position: absolute;
  top: 49px;
  left: 165px;
  width: 465px;
  height: 285px;
  background-image: url('../img/service-credit.png');
  background-repeat: no-repeat;
  background-size: cover;
}